{% load staticfiles %}
<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta content="" name="description">
    <meta content="" name="keywords">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="HandheldFriendly" content="true">
    <meta content="telephone=no" name="format-detection">
    <!-- favicon -->
    <!-- <link rel="shortcut icon" type="image/png" href="favicon.png" /> -->
    <!--[if (gt IE 9)|!(IE)]><!-->
    <!-- custom CSS -->
    <link href="{% static 'bootstrap/css/main.css' %}" rel="stylesheet" type="text/css"/>
    <!-- END custom CSS -->
    <!--<![endif]-->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
            <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    <title>News</title>
</head>
<body>
<!-- Header -->
<header id="header" class="header">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="wrap-logo">
                        <a href="index.html" class="logo"></a>
                    </div>
                </div>
                <div class="col-sm-offset-2 col-md-offset-5 col-sm-6 col-md-4 hidden-xs">
                    <div class="col-xs-4 col-sm-5">
                        <div class="weather">
                            <div class="weather__temperature">
                                <span class="icon-sun"></span>
                                <em class="active">+8 C</em>
                                <em>+2 C</em>
                                <em>+3 C</em>
                            </div>
                            <div class="weather__city">
                                <em>London</em>
                                <div class="weather__city__list">
                                    <ul>
                                        <li class="active">
                                            <a href="#">London</a>
                                        </li>
                                        <li>
                                            <a href="#">Moscow</a>
                                        </li>
                                        <li>
                                            <a href="#">Kiev</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-7">
                        <div class="exchange">
                            <p class="exchange__name">Central Bank Rate</p>
                            <p class="exchange__course">
                                $<span>32.32</span>&#8364;<span>28.23</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wsmenucontent overlapblackbg"></div>
    <div class="wsmenuexpandermain slideRight">
        <a id="navToggle" class="animated-arrow slideLeft">
            <span></span>
        </a>
    </div>
    <div class="header_down">
        <div class="container">
            <div class="wrapper clearfix bigmegamenu">
                <!--Main Menu HTML Code-->
                <nav class="wsmenu slideLeft clearfix">
                    <ul class="mobile-sub wsmenu-list">
                        <li class="visible-xs">
                            <form class="navbar-form mob_search" role="search">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Search">
                                </div>
                                <button type="submit" class="btn btn-search">
                                    <i class="icon-search"></i>
                                </button>
                            </form>
                        </li>

                        <li class="active">
                            <span class="wsmenu-click"></span>
                            <a href="{% url 'microblog:microblog_index' %}">主页</a>
                        </li>
                        <li>
                            <span class="wsmenu-click"></span>
                            <a href="{% url 'zhihu:index' %}">知乎</a>
                        </li>
                        {% if request.user.is_authenticated %}
                            <li>
                                <span class="wsmenu-click"></span>
                                <a href="#" class="">{{ request.user }}</a>
                            </li>
                            <li>
                                <span class="wsmenu-click"></span>
                                <a href="{% url 'user:user_logout' %}" class="">退出</a>
                            </li>
                        {% else %}
                            <li>
                                <span class="wsmenu-click"></span>
                                <a href="{% url 'user:user_login' %}?next={{ request.path }}" class="">登录</a>
                            </li>
                        {% endif %}

                        <li class="navbar-right hidden-xs">
                            <form class="navbar-form mob_search" action="{% url 'microblog:microblog_search' %}"
                                  method="get">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Search" name="keyword">
                                </div>
                                <button type="submit" class="btn btn-search">
                                    <i class="icon-search"></i>
                                </button>
                            </form>
                        </li>
                        <li>
                            <div class="visible-xs col-sm-offset-5 col-sm-4">
                                <div class="col-sm-5">
                                    <div class="weather">
                                        <div class="weather__temperature">
                                            <span class="icon-sun"></span>
                                            <em>+8 C</em>
                                        </div>
                                        <div class="weather__city">
                                            <em>London</em>
                                            <div class="weather__city__list">
                                                <ul>
                                                    <li class="active">
                                                        <a href="#">London</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Moscow</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Kiev</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-7">
                                    <div class="exchange">
                                        <p class="exchange__name">Central Bank Rate</p>
                                        <p class="exchange__course">
                                            $<span>32.32</span>&#8364;<span>28.23</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </nav>
                <!--Menu HTML Code-->
            </div>
        </div>
    </div>
</header>
<!-- END header -->
<!-- header slider -->
<div class="wrapper">
    <article class="container articles">
        <div class="row">


            <div class="col-sm-12 col-md-9 p0 wrap-headline">
                <div class="thumbnail thumbnail_big">
                    <!-- 如果有视频 -->
                    {% if res.video_url %}

                        <video src="{{ res.video_url }}" controls="controls" height="500px" width="500px"></video>

                    {% else %}

                        <!-- 如果有图片 -->
                        {% if res.pics_list %}
                            {% for pic in res.pics_list %}
                                <img src="{{ pic.0 }}" onerror="this.onerror='';this.src='{% static pic.1 %}'"
                                     width="500px" height="500px" alt=""/>
                            {% endfor %}
                        {% endif %}
                    {% endif %}

                    <div class="caption thumbnail__caption">
                        <div class="news caption__news" style="height: auto; overflow: auto;">
                            <!-- 如果有作者标题 -->
                            {% if res.subject %}
                                <p class="news__category yellow-line">{{ res.subject }}</p>
                            {% endif %}

                            <!-- 如果有微博专题 -->
                            {% if res.special_subject %}
                                <p class="news__category yellow-line"><a
                                        href="{% url 'microblog:microblog_subject' res.special_subject %}"
                                        class="thumbnail__link"
                                        style="text-decoration: none;">{{ res.special_subject }}</a></p>
                            {% endif %}
                            <a href="{{ res.detail_url }}" class="news__caption">微博原文详情</a>
                            {% autoescape off %}
                                <p class="news__text">{{ res.content | safe }}</p>
                            {% endautoescape %}

                            {#                                    <input type="hidden" name="content" value="{{ res.content }}">#}
                        </div>
                        <div class="posted">
                            <span class="posted__date">{{ res.created_at }}</span>
                            {#                                    <input type="hidden" name="created_at" value="{{ res.created_at }}">#}
                            <ul class="posted__icon">
                                <li>
                                            <span>
                                                <i class="icon-comment-empty"></i>{{ res.comment_count }}
{#                                                <input type="hidden" name="comment_count" value="{{ res.comment_count }}">#}
                                            </span>
                                </li>
                                <li>
                                            <span>
                                                <i class="icon-eye"></i>{{ res.transmit_count }}
{#                                                <input type="hidden" name="transmit_count" value="{{ res.transmit_count }}">#}
                                            </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-9 col-md-8 col-lg-6 comments">
                <p class="comments__title">评论</p>
                {% if res.comment_list %}
                    {% for comment in res.comment_list %}
                        <div class="comments__media">
                            <div class="media-middle">
                                <i class="media-object" style="background-image: url({{ comment.author_profile }})"></i>
                                <div class="comm_info">
                                    <h4 class="media-heading">{{ comment.author_name }}</h4>
                                    <span class="time">{{ comment.created_at }}</span>
                                </div>
                            </div>
                            <p class="media-body">{{ comment.comment_content | safe }}</p>
                        </div>
                    {% endfor %}
                {% endif %}
                <div class="comments__form">
                    <form action="#" method="POST">
                        <div class="form-group">
                            <input type="text" style="width: 200px;" class="form-control" placeholder="Your name">
                        </div>
                        <div class="form-group">
                            <textarea name="text" id="input" class="form-control" rows="7"
                                      required="required"></textarea>
                        </div>
                        <button type="submit" class="btn btn-comment">send</button>
                    </form>
                </div>
            </div>
        </div>
    </article>
</div>
<!-- Footer -->
<footer class="footer slate_gray">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <p class="copyright">Copyright &copy; 2017.Company name All rights reserved.</p>
            </div>
            <div class="col-sm-6">
                <div class="social navbar-right">
                    <p class="social__text">We are in social networks</p>
                    <ul class="social__list">
                        <li class="social__item">
                            <a class="facebook" href="#">
                                <i class="icon-facebook"></i>
                            </a>
                        </li>
                        <li class="social__item">
                            <a class="twitter" href="#">
                                <i class="icon-twitter"></i>
                            </a>
                        </li>
                        <li class="social__item">
                            <a class="gplus" href="#">
                                <i class="icon-gplus"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- END Footer -->
<!-- All JavaScript libraries -->
<script src="{% static 'bootstrap/js/jquery-3.3.1.min.js' %}"></script>
<!-- <script src="http://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script> -->
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<!-- Custom JavaScript -->
<script src="{% static 'bootstrap/js/main.js' %}"></script>
</body>
</html>

