{% load staticfiles %}
<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta content="" name="description">
    <meta content="" name="keywords">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="HandheldFriendly" content="true">
    <meta content="telephone=no" name="format-detection">
    <!-- favicon -->
    <!-- <link rel="shortcut icon" type="image/png" href="favicon.png" /> -->
    <!--[if (gt IE 9)|!(IE)]><!-->
    <!-- custom CSS -->
    <link href="{% static 'bootstrap/css/main.css' %}" rel="stylesheet" type="text/css"/>
    <!-- END custom CSS -->
    <!--<![endif]-->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
            <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    <title>Home</title>
    <style>
        .myBtn {

            -webkit-transition-duration: 0.4s;

            transition-duration: 0.4s;

            padding: 2px 4px;

            text-align: center;

            background-color: white;

            color: black;

            border: 1.2px solid #f38844;

            border-radius: 5px;

            font-size: 13px;

        }

        .myBtn:hover {

            background-color: #f38844;

            color: white;

        }

    </style>
</head>
<body>
<!-- Header -->
<header id="header" class="header">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="wrap-logo">
                        <a href="index.html" class="logo"></a>
                    </div>
                </div>
                <div class="col-sm-offset-2 col-md-offset-5 col-sm-6 col-md-4 hidden-xs">
                    <div class="col-xs-4 col-sm-5">
                        <div class="weather">
                            <div class="weather__temperature">
                                <span class="icon-sun"></span>
                                <em class="active">+8 C</em>
                                <em>+2 C</em>
                                <em>+3 C</em>
                            </div>
                            <div class="weather__city">
                                <em>London</em>
                                <div class="weather__city__list">
                                    <ul>
                                        <li class="active">
                                            <a href="#">London</a>
                                        </li>
                                        <li>
                                            <a href="#">Moscow</a>
                                        </li>
                                        <li>
                                            <a href="#">Kiev</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-7">
                        <div class="exchange">
                            <p class="exchange__name">Central Bank Rate</p>
                            <p class="exchange__course">
                                $<span>32.32</span>&#8364;<span>28.23</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wsmenucontent overlapblackbg"></div>
    <div class="wsmenuexpandermain slideRight">
        <a id="navToggle" class="animated-arrow slideLeft">
            <span></span>
        </a>
    </div>
    <div class="header_down">
        <div class="container">
            <div class="wrapper clearfix bigmegamenu">
                <!--Main Menu HTML Code-->
                <nav class="wsmenu slideLeft clearfix">
                    <ul class="mobile-sub wsmenu-list">
                        <li class="visible-xs">
                            <form class="navbar-form mob_search" role="search">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Search">
                                </div>
                                <button type="submit" class="btn btn-search">
                                    <i class="icon-search"></i>
                                </button>
                            </form>
                        </li>

                        <li class="active">
                            <span class="wsmenu-click"></span>
                            <a href="{% url 'microblog:microblog_index' %}">主页</a>
                        </li>
                        <li>
                            <span class="wsmenu-click"></span>
                            <a href="{% url 'zhihu:index' %}">知乎</a>
                        </li>
                        {% if request.user.is_authenticated %}
                            <li>
                                <span class="wsmenu-click"></span>
                                <a href="#" class="">{{ request.user }}</a>
                            </li>
                            <li>
                                <span class="wsmenu-click"></span>
                                <a href="{% url 'user:user_logout' %}" class="">退出</a>
                            </li>
                        {% else %}
                            <li>
                                <span class="wsmenu-click"></span>
                                <a href="{% url 'user:user_login' %}" class="">登录</a>
                            </li>
                        {% endif %}
                        <li class="navbar-right hidden-xs">
                            <form class="navbar-form mob_search" action="{% url 'microblog:microblog_search' %}"
                                  method="get">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Search" name="keyword">
                                </div>
                                <button type="submit" class="btn btn-search">
                                    <i class="icon-search"></i>
                                </button>
                            </form>
                        </li>
                        <li>
                            <div class="visible-xs col-sm-offset-5 col-sm-4">
                                <div class="col-sm-5">
                                    <div class="weather">
                                        <div class="weather__temperature">
                                            <span class="icon-sun"></span>
                                            <em>+8 C</em>
                                        </div>
                                        <div class="weather__city">
                                            <em>London</em>
                                            <div class="weather__city__list">
                                                <ul>
                                                    <li class="active">
                                                        <a href="#">London</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Moscow</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Kiev</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-7">
                                    <div class="exchange">
                                        <p class="exchange__name">Central Bank Rate</p>
                                        <p class="exchange__course">
                                            $<span>32.32</span>&#8364;<span>28.23</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </nav>
                <!--Menu HTML Code-->
            </div>
        </div>
    </div>
</header>
<!-- END header -->

<!-- header slider -->
<div class="slate_gray">
    <div class="container">
        <div class="row header_news_panel">
            <!-- Tab panes -->
            <div class="col-sm-8 tab-content tab-content_mob-p0">
                <div role="tabpanel" class="tab-pane fade in active" id="home">
                    {% if subject_dict.card_list_dict %}
                        <!-- 如果有背景图片信息 -->

                        <img src="{{ subject_dict.card_list_dict.background_url }}" class="tab-pane__img"
                             onerror="this.onerror='';this.src='{% static 'bootstrap/img/content/spec4.jpg' %}'"/>
                        <!-- <img src="{% static 'bootstrap/img/content/slide1.jpg' %}" alt="main img" class="tab-pane__img"> -->

                        <div class="header_news_text tab-pane__block">
                            <p class="tab-pane__category yel_line">People</p>

                            <!-- 如果有头像图片 -->
                            {% if subject_dict.card_list_dict.portrait %}
                                <img src="{{ subject_dict.card_list_dict.portrait }}"
                                     onerror="this.onerror='';this.src='{% static 'bootstrap/img/content/news1.jpg' %}'"
                                     width="100" height="68"/>
                            {% endif %}

                            <form action="{% url 'microblog:microblog_save_subject' %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="subject_dict" value="{{ subject_dict }}">
                                <br/>
                                <button type="submit" class="myBtn">一键保存本页数据</button>
                            </form>

                            <a class="tab-pane__title">{{ subject_dict.card_list_dict.title }}</a>

                            <!-- 如果该专题有专题描述信息 -->
                            {% if subject_dict.card_list_dict.desc %}
                                <p class="tab-pane__text">{{ subject_dict.card_list_dict.desc }}</p>
                            {% endif %}

                            <!-- 如果该专题有阅读量、讨论量信息 -->
                            {% if subject_dict.card_list_dict.midtext %}
                                <p class="tab-pane__text">{{ subject_dict.card_list_dict.midtext }}</p>
                            {% endif %}

                            <!-- 如果该专题有主持人信息 -->
                            {% if subject_dict.card_list_dict.downtext %}
                                <p class="tab-pane__text">{{ subject_dict.card_list_dict.downtext }}</p>
                            {% endif %}

                        </div>
                    {% endif %}
                </div>
            </div>
            <!-- END Tab panes -->
            <!-- Nav tabs -->
            <div class="col-sm-4 news-tabs">
                <p class="news-tabs__title h2">Last news</p>
                <ul class="news-tabs__nav nav nav-tabs shadow_text" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#home" role="tab" data-toggle="tab">
                            <span class="time">today, 10:11</span>
                            Volkswagen hit by multiple probes in US Volkswagen hit by multiple probes in US
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#profile" role="tab" data-toggle="tab">
                            <span class="time">today, 11:22</span>
                            Volkswagen hit by multiple probes in US Volkswagen hit by multiple probes in US
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#messages" role="tab" data-toggle="tab">
                            <span class="time">today, 12:33</span>
                            Volkswagen hit by multiple probes in US Volkswagen hit by multiple probes in US
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#settings" role="tab" data-toggle="tab">
                            <span class="time">today, 14:44</span>
                            Volkswagen hit by multiple probes in US Volkswagen hit by multiple probes in US
                        </a>
                    </li>
                </ul>
            </div>
            <!-- END Nav tabs -->
        </div>
    </div>
</div>
<!-- END header slider -->

<!-- top news-->
<section>
    <!-- top news -->
    <!-- title -->
    <div class="wrap wrap_white">
        <div class="container title">
            <h1 class="title__h1 underscore">Popular content</h1>
        </div>
    </div>
    <!-- END title -->
    <div class="wrap wrap_gray pt20">
        <div class="container">
            <div class="row">
                {% if subject_dict.card_blog_list %}
                    {% for res in subject_dict.card_blog_list %}
                        <form action="{% url 'microblog:microblog_detail' res.micro_blog_id %}" method="post">
                            {% csrf_token %}
                            <div class="col-sm-3">
                                <div class="thumbnail thumbnail_small" style="width: 270px; height: 378px;">

                                    <!-- 如果有视频 -->
                                    {% if res.video_url %}
                                        <a href="news.html" class="thumbnail__link">
                                            <video src="{{ res.video_url }}" controls="controls" height="158"
                                                   width="270"></video>
                                        </a>
                                        <input type="hidden" name='video_url' value="{{ res.video_url }}">
                                    {% else %}
                                        <!-- 如果有图片 -->
                                        <a href="news.html" class="thumbnail__link"
                                           style="height: 158px; width: auto;">
                                            <img src="{{ res.pics_list.1 }}"
                                                 onerror="this.onerror='';this.src='{% static res.img_url %}'"
                                                 width="270" height="158" alt=""/>
                                        </a>
                                        <input type="hidden" name="pics_list" value="{{ res.pics_list }}">
                                    {% endif %}

                                    <div class="caption thumbnail__caption">
                                        <div class="news caption__news"
                                             style="height: 172px; overflow: auto; margin-bottom: 10px;">
                                            <!-- 如果有作者标题 -->
                                            {% if res.subject %}
                                                <p class="news__category yellow-line">{{ res.subject }}</p>
                                                <input type="hidden" name="subject" value="{{ res.subject }}">
                                            {% endif %}
                                            <!-- 如果有微博专题 -->
                                            <!-- {% if res.special_subject %}
                                    <p class="news__category yellow-line"><a href="
                                                {% url 'microblog:microblog_subject' res.special_subject %}
                                                " class="thumbnail__link" style="text-decoration: none;">
                                                {{ res.special_subject }}</a></p>
                                    <input type="hidden" name="special_subject" value="{{ res.special_subject }}">
                                    {% endif %} -->

                                            <div>
                                                <button type="submit" class="myBtn"
                                                        style="float: left;margin-top: 1px;margin-left: 10px;">查看详细内容
                                                </button>
                                                <a href="{{ res.detail_url }}" class="news__caption">
                                                    <button type="button" class="myBtn" style="margin-left: 43px;">
                                                        微博原文详情
                                                    </button>
                                                </a>
                                            </div>

                                            <!-- <a href="{% url 'microblog:microblog_detail' res.micro_blog_id %}" class="news__link"> -->
                                            {% autoescape off %}
                                                <p class="news__text">{{ res.content | safe }}</p>
                                            {% endautoescape %}
                                            <!-- </a> -->
                                            <input type="hidden" name="content" value="{{ res.content }}">
                                        </div>
                                        <div class="posted">
                                            <span class="posted__date">{{ res.created_at }}</span>
                                            <input type="hidden" name="created_at" value="{{ res.created_at }}">
                                            <ul class="posted__icon">
                                                <li>
                                                <span>
                                                    <i class="icon-comment-empty"></i>{{ res.comment_count }}
                                                    <input type="hidden" name="comment_count"
                                                           value="{{ res.comment_count }}">
                                                </span>
                                                </li>
                                                <li>
                                                <span>
                                                    <i class="icon-eye"></i>{{ res.transmit_count }}
                                                    <input type="hidden" name="transmit_count"
                                                           value="{{ res.transmit_count }}">
                                                    <input type="hidden" name="detail_url"
                                                           value="{{ res.detail_url }}">
                                                </span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </form>

                    {% endfor %}
                {% endif %}

            </div>

        </div>
        <!-- btn load-->
        <!--             <div class="ajax_load">
                        <i class="icon-arrows-cw"></i>Load more
                        <svg width="128" height="40" viewBox="0 0 128 40" xmlns="http://www.w3.org/2000/svg">
                            <rect x='0' y='0' fill='none' width='128' height='40'></rect>
                        </svg>
                    </div> -->
        <!-- END btn load-->
    </div>
    <!-- /container-->
</section>
<!-- /top news -->

<!-- Footer -->
<footer class="footer slate_gray">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <p class="copyright">Copyright &copy; 2017.Company name All rights reserved.</p>
            </div>
            <div class="col-sm-6">
                <div class="social navbar-right">
                    <p class="social__text">We are in social networks</p>
                    <ul class="social__list">
                        <li class="social__item">
                            <a class="facebook" href="#">
                                <i class="icon-facebook"></i>
                            </a>
                        </li>
                        <li class="social__item">
                            <a class="twitter" href="#">
                                <i class="icon-twitter"></i>
                            </a>
                        </li>
                        <li class="social__item">
                            <a class="gplus" href="#">
                                <i class="icon-gplus"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- END Footer -->
<!-- All JavaScript libraries -->
<script>
    var video = document.getElementsByTagName("video"); // 暂停函数
    function pauseAll() {
        var self = this;
        [].forEach.call(video, function (i) {
            // 将audios中其他的audio全部暂停
            i !== self && i.pause();
        })
    }

    // 给play事件绑定暂停函数
    [].forEach.call(video, function (i) {
        i.addEventListener("play", pauseAll.bind(i));
    })
</script>
<script src="{% static 'bootstrap/js/jquery-3.3.1.min.js' %}"></script>
<!-- <script src="http://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script> -->
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<!-- Custom JavaScript -->
<script src="{% static 'bootstrap/js/main.js' %}"></script>
</body>
</html>
